
.container { 
    position: relative;
    max-width: 480px;
    width: 100%;
    border-radius: 8px;
    padding: 25px;
    margin: 85px auto 0;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.102);
    
  }
.text{
    text-align: center;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.102);
}
input[type="text"]{
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
}
button {
    padding: 10px;
    height: auto;
    width: auto;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    border: none;
    border-radius: 15px;
    color: whitesmoke;
    
}

